<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       <p>This is a node app to help you know the weather. <br><br>
          <b> APIs used:</b><br>
           1. weatherstack<br>
           2. mapbox
       </p>
    </div>
    
    {{>footer}}
</body>

</html>